---
import Header from '../../components/Header.astro';
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Footer from '../../components/Footer.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout title="Blog">
  <main class="mx-auto max-w-content px-6 pt-24">
    <Header />

    <section class="mb-16">
      <h1 class="text-4xl font-medium tracking-tight text-zinc-900 dark:text-zinc-100">
        Welcome to my <span class="text-zinc-700 dark:text-zinc-300">blog</span> 📚
      </h1>
      <p class="mt-6 text-lg leading-relaxed text-zinc-600 dark:text-zinc-400">
        Here you will find all the posts I have published. I hope you enjoy them.
      </p>
    </section>

    <section class="mb-16">
      <ul class="grid gap-8 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2">
        {posts.map((post) => (
          <li class="group max-w-2xl mx-auto">
            <a href={`/blog/${post.slug}/`} class="block rounded-lg overflow-hidden bg-white dark:bg-zinc-800 border border-zinc-200 dark:border-zinc-700">
              {post.data.heroImage && (
                <img
                  class="w-full h-64 object-cover transition-transform group-hover:scale-105"
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                />
              )}
              <div class="p-5">
                <div class="flex justify-between items-center">
                  <h4 class="text-xl font-semibold text-zinc-900 dark:text-zinc-100 group-hover:text-zinc-700 dark:group-hover:text-zinc-300">
                    {post.data.title}
                  </h4>
                  <p class="text-sm ml-2 underline text-zinc-600 dark:text-zinc-400">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </div>
                <p class="mt-2 text-sm text-zinc-600 dark:text-zinc-400">
                  {post.data.description}
                </p>
              </div>
            </a>
          </li>
        ))}
      </ul>
    </section>

    <Footer />
  </main>
</Layout>

